*{
    padding: 0px;
    margin: 0px;
}

.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #585858;
    color: white;
}

.items{
    display: flex;
    list-style: none;
}

.item{
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

/* banner container */
.banner-container{
    width: 100%;
    height: 100vh;
    background-image: url("./asset/image/background.jpg"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.title-banner{
    font-size: 85px;
    font-weight: bold;
}
.primary{
    color: rgba(255, 0, 0, 0.84);
}
.description{
    font-size: 22px;
    width: 50%;
    margin: auto;
    padding: 10px;
}
.btn{
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    margin: 5px;
}
.btn-discover{
   
    background-color: red;
    color: white;


}
.btn-hire{
    color: red;
}
